.quotearea {
  

  button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3.2vmin;
    border-radius: 20px;
    background: transparent;
    margin-bottom: 1vmin;
    color: white;
  }

  h2 {
    font-size: 3.2vmin;
  }
} 

#quote {
  font-size: 3.2vmin;
  margin-bottom: 1vmin;
}

#addquote {
  font-size: 3.2vmin;
  margin-bottom: 1vmin;
  display: none;
}