.quotearea {

  #quote {
    font-size: 3.5vmin;
    margin-bottom: 1vmin;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3.5vmin;
    border-radius: 20px;
    background: transparent;
    color: white;
    margin-bottom: 1vmin;
  }
}