#target {
  background-color: rgb(251, 251, 251);
  min-height: 380px;
  width: 300px;
  padding: 12px;
  position: absolute;
  right: 0;
  bottom: 4rem;
  border-radius: 10px;
  cursor: default;
  display: none;
  color: black;

  h2, h3 {
    text-align: left;
    padding-top: 2px;
    margin-bottom: 0px;
    font-size: 1.3rem;
  }
  
  ul {
    margin: 0;
    padding: 0;

    li * {
      float: left;
    }
  }
  
  li,
  h3 {
    clear: both;
    list-style: none;
  }
  
  input,
  button {
    outline: none;
  }
  
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 18px;
    width: 60px;
    cursor: pointer;
  }
  
  button:hover {
    color: #333;
  }
  
  
  /* Heading */
  
  h3,
  label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid green;
    padding: 5px 0 5px;
    margin: 0;
    text-transform: uppercase;
  }
  
  input {

    [type="text"] {
      margin: 0;
      font-size: 18px;
      line-height: 18px;
      height: 18px;
      padding: 10px;
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 6px;
      color: #888;
    }

    input[type="text"]:focus {
      color: #333;
    }
    
  }
  
  
  
  /* New Task */
  
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  
  input#new-task {
    float: left;
    width: 215px;
    margin: 10px 0px 0px;
  }
  
  p > button:hover {
    color: #0FC57C;
  }
  
  
  /* Task list */
  
  li {
    overflow: hidden;
    padding: 0px 0;
    border-bottom: 1px solid #eee;

    input[type="checkbox"] {
      margin: 0 10px;
      position: relative;
      top: 17.2px;
    }

    label {
      font-size: 15px;
      line-height: 46.2px;
      width: 180px;
      padding: 0 0 0 11px;
    }

    input[type="text"] {
      width: 180px;
      font-size: 15px;
      margin-top: 12px;
      line-height: 20px;
    }

    .delete:hover {
      color: #CF2323;
    }

    button {
      margin-top: 3.5px;
    }
  }
  
  /* Completed */
  
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  
  /* Edit Task */
  
  ul li input[type=text] {
    display: none;
  }
  
  ul li.editMode input[type=text] {
    display: block;
  }
  
  ul li.editMode label {
    display: none;
  }
}