@import 'config';
@import 'time';
@import 'bottom';
@import 'quotes';
@import 'todo';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
}

h1 {
    margin-bottom: 2vmin;
    font-size: 10vmin;
  }

h2 {
    margin-bottom: 1vmin;
    opacity: 0.8;
    font-size: 6vmin;
  }

input#focus {
  border-bottom: 2px solid;
  margin-bottom: 1vmin;
  opacity: 0.8;
  font-size: 6vmin;
  background-color: transparent;
  border: 0px solid;
  text-align: center;
  color: white;
  border-bottom: 2px solid;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.textinput > button {
  background: transparent;
  font-size: 3vmin;
  border: 0px solid;
}

.textinput {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import 'mobile';